main {
  @extend %bodymain;
  color: $textColor;
  header {
    display: block;
    text-align: center;
    padding: 32px 0;
    &h1{
      font-size: 64px;
      font-weight: 400;
      margin: 20px 0;
    }
    &img.main-img {
      max-width: 100%;
      height: auto;
      margin: 10px 0;
      border-style: none;
    }
  }
}
